/* Native classes */
a, a:active, a:focus {
   outline: none;
}

img {
   max-width:80%;
   height:auto;
}

/* User defined */
.Maps {
   position: relative;
   width: 100%;
   padding: 0px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.under {
   left: 0px;
   top: 0px;
   z-index: -1;
   position: relative;
   opacity:1;
}
.over {
   position: absolute;
   left: 50%;
   top: 0px;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}
.Sover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   mix-blend-mode: overlay;
   opacity:0.75;
}
.Vover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   opacity:1;
}
.Oover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   opacity:1;
   visibility: hidden;
}

.day_and_time {
   position: static;
   height: 100%;
}
.button_inactive {
   background-color: rgba(65,165,234,0.7);
   font-size:100%;
   padding: 5px;
   border-radius: 10px;
}
.button_active {
   background-color: rgba(65,165,234,1);
   font-size:100%;
   padding: 5px;
   border-radius: 10px;
}

.plot_title {font-size:175%;}

.days {font-size:120%;}

.hours {font-size:120%;}

.vl {border-left: 2px dashed LightGrey;
     height: 200px;}
