.a_days {
   padding: 5px;
   border-radius: 5px;
   background-color: #ddd;
   color: blue;
}
.a_days:active {
   color: hotpink;
   background-color: #2196F3;
}
img {
   max-width:80%;
   height:auto;
}
.Maps {
   position: relative;
   width: 100%;
   padding: 0px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}
.under {
   left: 0px;
   top: 0px;
   z-index: -1;
   position: relative;
   opacity:1;
}
.over {
   position: absolute;
   left: 50%;
   top: 0px;
   transform: translateX(-50%);
   opacity:1;
   z-index: 1;
}
.Sover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   mix-blend-mode: overlay;
   opacity:0.75;
}
.Vover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   opacity:1;
}
.Oover {
   position: absolute;
   left: 50%;
   top: 0px;
   z-index: 1;
   transform: translateX(-50%);
   opacity:1;
   visibility: hidden;
}

.button_inactive {
   background-color: rgba(121,200,255);
   font-size:120%;
   padding: 5px;
   border-radius: 10px;
}
.button_active {
   background-color: rgba(42,139,207);
   font-size:120%;
   padding: 5px;
   border-radius: 10px;
}

.plot_title {font-size:175%;}

.domains {font-size:120%;}

.days {font-size:120%;}

.hours {font-size:120%;}

.mytable {border: 1px solid black;
          border-collapse: collapse;}
.mytr {border-top: solid 1px black border-bottom: solid 1px black; }

.mytd {border-right: none; border-left: none; }

.vl {border-left: 2px dashed LightGrey;
     height: 200px;}

