img {max-width:100%;
      height:auto;}

.FullMap {width:100%;
          height:auto;
          text-align:center;
          position: relative;
          padding:0px;
          left:0px;
          top:0px;}

.L0 {position: absolute;
     left: 0px;
     top: 0px;
     z-index: -1;}

.L1 {position: absolute;
     left: 0px;
     top: 0px;
     z-index: 1;}

.L2 {position: absolute;
     top: 0px;
     left: 0px;
     mix-blend-mode: overlay;
     z-index: 1;
     visibility:visible;
     opacity:0.75;}

.L3 {position: absolute;
     top: 0px;
     left: 0px;
     visibility:visible;
     z-index: 1;
     opacity:0.5;}

.L4 {position: absolute;
     top: 0px;
     left: 0px;
     z-index: 1;
     visibility:hidden;
     opacity:0.9;}

.plot_title {font-size:175%;}

.domains {font-size:120%;}

.days {font-size:120%;}

.hours {font-size:120%;}

.mytable {border: 1px solid black;
          border-collapse: collapse;}
.mytr {border-top: solid 1px black border-bottom: solid 1px black; }

.mytd {border-right: none; border-left: none; }

.vl {border-left: 2px dashed LightGrey;
     height: 200px;}
